/* Give your page a fun background color */
body{
    background-color: bisque;
    
}
/* Make the header and footer a different color from the background */
header, footer{
    color: red;
}
/* Align the h1 containing your name in the center of the header*/
h1{
 text-align: center;
}
/* Make your p tag a different color and italic */
p{
 font-style: italic;
 color: royalblue;
}
/* Put a border around your image */
img {
    border-radius: 50%;
    border: 10px solid transparent;
    vertical-align: center;
  }
/* Change the font-family of your list */
 ul{
     font-family: Arial, Helvetica, sans-serif;
 }